---
http_interactions:
- request:
    method: get
    uri: https://purl.stanford.edu/tn629pk3948.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"900541a398ecb6cfcf6094ac2c30d50c"'
      Last-Modified:
      - Thu, 05 Nov 2015 23:18:09 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<publicObject id=\"druid:tn629pk3948\"
        published=\"2015-11-05T15:18:04-08:00\" publishVersion=\"dor-services/4.22.3\">\n
        \ <identityMetadata>\n    <sourceId source=\"sul\">V0401_b1_1.01</sourceId>\n
        \   <objectId>druid:tn629pk3948</objectId>\n    <objectCreator>DOR</objectCreator>\n
        \   <objectLabel>Lecture 1</objectLabel>\n    <objectType>item</objectType>\n
        \   <adminPolicy>druid:ww057vk7675</adminPolicy>\n    <otherId name=\"label\"/>\n
        \   <otherId name=\"uuid\">08d544da-d459-11e2-8afb-0050569b3c3c</otherId>\n
        \   <tag>Project:V0401 mccarthyism:vhs</tag>\n    <tag> Process:Content Type:Media</tag>\n
        \   <tag> JIRA:DIGREQ-592</tag>\n    <tag> SMPL:video:ua</tag>\n    <tag>
        Registered By:gwillard</tag>\n    <tag>Remediated By : 4.6.6.2</tag>\n  </identityMetadata>\n
        \ <contentMetadata objectId=\"tn629pk3948\" type=\"media\">\n    <resource
        sequence=\"1\" id=\"tn629pk3948_1\" type=\"video\">\n      <label>Tape 1</label>\n
        \     <file id=\"tn629pk3948_sl.mp4\" mimetype=\"video/mp4\" size=\"3615267858\">\n
        \     \n      \n    </file>\n    </resource>\n    <resource sequence=\"2\"
        id=\"tn629pk3948_2\" type=\"image\">\n      <label>Image of media (1 of 3)</label>\n
        \     <file id=\"tn629pk3948_img_1.jp2\" mimetype=\"image/jp2\" size=\"919945\">\n
        \       <imageData width=\"1777\" height=\"2723\"/>\n      </file>\n    </resource>\n
        \   <resource sequence=\"3\" id=\"tn629pk3948_3\" type=\"image\">\n      <label>Image
        of media (2 of 3)</label>\n      <file id=\"tn629pk3948_img_2.jp2\" mimetype=\"image/jp2\"
        size=\"719940\">\n        <imageData width=\"2560\" height=\"1475\"/>\n      </file>\n
        \   </resource>\n    <resource sequence=\"4\" id=\"tn629pk3948_4\" type=\"image\">\n
        \     <label>Image of media (3 of 3)</label>\n      <file id=\"tn629pk3948_img_3.jp2\"
        mimetype=\"image/jp2\" size=\"411054\">\n        <imageData width=\"1547\"
        height=\"1379\"/>\n      </file>\n    </resource>\n  </contentMetadata>\n
        \ <rightsMetadata>\n    <access type=\"discover\">\n      <machine>\n        <world/>\n
        \     </machine>\n    </access>\n    <access type=\"read\">\n      <machine>\n
        \       <world/>\n      </machine>\n    </access>\n    <use>\n      <human
        type=\"useAndReproduction\">Digital recordings from this collection may be
        accessed freely. These files may not be reproduced or used for any purpose
        without permission. For permission requests, please contact Stanford University
        Department of Special Collections  University Archives (speccollref@stanford.edu).</human>\n
        \   </use>\n    <use>\n      <human type=\"creativeCommons\"/>\n      <machine
        type=\"creativeCommons\"/>\n    </use>\n  </rightsMetadata>\n  <rdf:RDF xmlns:fedora=\"info:fedora/fedora-system:def/relations-external#\"
        xmlns:fedora-model=\"info:fedora/fedora-system:def/model#\" xmlns:hydra=\"http://projecthydra.org/ns/relations#\"
        xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\">\n    <rdf:Description
        rdf:about=\"info:fedora/druid:tn629pk3948\">\n      <fedora:isMemberOf rdf:resource=\"info:fedora/druid:yk804rq1656\"/>\n
        \     <fedora:isMemberOfCollection rdf:resource=\"info:fedora/druid:yk804rq1656\"/>\n
        \   </rdf:Description>\n  </rdf:RDF>\n  <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:srw_dc=\"info:srw/schema/1/dc-schema\" xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n    <dc:identifier>V0401_b1_1.01</dc:identifier>\n
        \   <dc:identifier>V0401</dc:identifier>\n    <dc:title>Lecture 1</dc:title>\n
        \   <dc:date>2003-01-27</dc:date>\n    <dc:format>1 tape</dc:format>\n    <dc:format>VHS</dc:format>\n
        \   <dc:format>video/mpeg</dc:format>\n    <dc:type>MovingImage</dc:type>\n
        \   <dc:contributor>Frantz, Marge (Speaker)</dc:contributor>\n    <dc:subject>Anti-Communist
        Movements--United States</dc:subject>\n    <dc:subject>McCarthy, Joseph, 1908-1957</dc:subject>\n
        \   <dc:relation type=\"repository\">Stanford University. Libraries. Department
        of Special Collections and University Archives http://purl.stanford.edu/tn629pk3948</dc:relation>\n
        \   <dc:rights>Digital recordings from this collection may be accessed freely.
        These files may not be reproduced or used for any purpose without permission.
        For permission requests, please contact Stanford University Department of
        Special Collections  University Archives (speccollref@stanford.edu). \n    </dc:rights>\n
        \   <dc:language>eng</dc:language>\n    <dc:relation type=\"collection\">Marge
        Frantz lectures on McCarthyism, 2003</dc:relation>\n  </oai_dc:dc>\n  <releaseData>\n
        \   <release to=\"Searchworks\">true</release>\n  </releaseData>\n</publicObject>\n"
  recorded_at: Mon, 07 Dec 2015 18:52:07 GMT
recorded_with: VCR 2.9.3
