---
http_interactions:
- request:
    method: get
    uri: https://purl.stanford.edu/tn629pk3948.mods
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"900541a398ecb6cfcf6094ac2c30d50c"'
      Last-Modified:
      - Thu, 05 Nov 2015 23:18:09 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <mods:mods xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mods="http://www.loc.gov/mods/v3" version="3.4" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-4.xsd">
          <mods:identifier type="local" displayLabel="Source ID">V0401_b1_1.01</mods:identifier>
          <mods:identifier type="local" displayLabel="Call number">V0401</mods:identifier>
          <mods:titleInfo>
            <mods:title>Lecture 1</mods:title>
          </mods:titleInfo>
          <mods:originInfo>
            <mods:dateCreated encoding="w3cdtf" keyDate="yes">2003-01-27</mods:dateCreated>
            <mods:placeTerm type="text">Stanford (Calif.)</mods:placeTerm>
          </mods:originInfo>
          <mods:physicalDescription>
            <mods:form authority="PBCore instantiationPhysical">VHS</mods:form>
            <mods:extent>1 tape</mods:extent>
            <mods:reformattingQuality>access</mods:reformattingQuality>
            <mods:internetMediaType>video/mpeg</mods:internetMediaType>
            <mods:digitalOrigin>reformatted digital</mods:digitalOrigin>
          </mods:physicalDescription>
          <mods:typeOfResource>moving image</mods:typeOfResource>
          <mods:name authority="naf" valueURI="http://id.loc.gov/authorities/names/no2005099404" type="personal">
            <mods:namePart>Frantz, Marge</mods:namePart>
            <mods:role>
              <mods:roleTerm authority="marcrelator" valueURI="http://id.loc.gov/vocabulary/relators/spk" type="text">Speaker</mods:roleTerm>
            </mods:role>
          </mods:name>
          <mods:subject authority="lcsh" valueURI="http://id.loc.gov/authorities/subjects/sh2008117594">
            <mods:topic>Anti-Communist Movements--United States</mods:topic>
          </mods:subject>
          <mods:subject>
            <mods:name type="personal" authority="lcsh" valueURI="http://id.loc.gov/authorities/names/n79043290">
              <mods:namePart>McCarthy, Joseph, 1908-1957</mods:namePart>
            </mods:name>
          </mods:subject>
          <mods:location>
            <mods:physicalLocation authority="naf" valueURI="http://id.loc.gov/authorities/names/no2014019980" displayLabel="Repository" type="repository">Stanford University. Libraries. Department of Special Collections and University Archives</mods:physicalLocation>
            <mods:url>http://purl.stanford.edu/tn629pk3948</mods:url>
          </mods:location>
          <mods:language>
            <mods:languageTerm type="code" authority="iso639-2">eng</mods:languageTerm>
          </mods:language>
          <mods:relatedItem type="host">
            <mods:titleInfo>
              <mods:title>Marge Frantz lectures on McCarthyism, 2003</mods:title>
            </mods:titleInfo>
            <mods:identifier type="uri">http://purl.stanford.edu/yk804rq1656</mods:identifier>
            <mods:typeOfResource collection="yes"/>
          </mods:relatedItem>
          <mods:accessCondition type="useAndReproduction">Digital recordings from this collection may be accessed freely. These files may not be reproduced or used for any purpose without permission. For permission requests, please contact Stanford University Department of Special Collections  University Archives (speccollref@stanford.edu).</mods:accessCondition>
        </mods:mods>
  recorded_at: Mon, 07 Dec 2015 18:52:07 GMT
recorded_with: VCR 2.9.3
